:root{
  --bg-color:#E6E9FB;
  --star-card-color:#FFFFFF;
  --text-color:#374151;
  --title-color:#0F172A;
  --title-font-size:24px;
  --text-font-size:18px;
  --empty-star-color:#E2E8F0;
  --active-star-color:#FACC15;
}

body{
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}